In [1]:
import pandas as pd

In [3]:
prof_df=pd.read_csv("prof.csv")

In [7]:
course_df=pd.read_csv("course.csv")

In [13]:
for index,row in course_df.iterrows():
    if(row['lab']==1):
        print(row['course'])

da_lab
cc_lab
hpc_lab

In [14]:
course_df

    course  lab
0      cns    0
1      hpc    0
2       da    0
3       cc    0
4       dl    0
5     pmee    0
6   da_lab    1
7   cc_lab    1
8  hpc_lab    1

In [15]:
prof_df

         Name
0       Meera
1  Mallegowda
2  Dr Parkavi
3  Dr Divakar
4        Sini
5    Srinidhi
6       Veena